<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" >
        <listeners>
          <add name="messages"></add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="messages" initializeData="message.svclog" type="System.Diagnostics.XmlWriterTraceListener">
      </add>
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
      
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="ambiente" value="dev"/>
    <add key="dev_StoreProcedureTransaction" value="dbo.ScriviTransazionePGAD"/>
    <!-- Classe Proxy AAMS -->
    <add key="dev_PgadGatewayClass" value="PgadCommunication.PgadGateway, PgadCommunication"/>
    <!-- Classe Proxy No AAMS -->
    <!--<add key="dev_PgadGatewayClass" value="PgadCommunication.PgadGatewayTest" />-->

    <!-- UserName Token -->
    <add key="dev_UserNameIntralot" value="09255551005"/>
    <!-- Certificati -->
    <add key="dev_CrtAAMSIntralot" value="C:\workspace\anagraficaContiGioco2\trunk\PgadCommunication\crts\intralot\pgad_cert_aams.crt"/>
    <add key="dev_RSAIntralot" value="C:\workspace\anagraficaContiGioco2\trunk\PgadCommunication\crts\intralot\firma.pfx"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="dev_EnpointPGAD" value="https://anagcontitest.giochi.aams.it/ContiDiGioco/services/ContiDiGiocoPort"/>
    <add key="dev_DNSPGAD" value="Anagrafica Conti di Gioco"/>
  </appSettings>
  <connectionStrings>
    <add name="dev_PgadDBTransaction" connectionString="Data Source=SV-SQLCOLL;Initial Catalog=Transazioni;Integrated Security=False;User=WebDev;Password=wEBdEV385;Connect Timeout=360" providerName="System.Data.SqlClient"/>
    <add name="dev_AnagraficaContiGiocoConnectionString" connectionString="Data Source=SV-SQLCOLL;Initial Catalog=AnagraficaContiGioco;Integrated Security=False;User=WebDev;Password=wEBdEV385;Connect Timeout=360" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <diagnostics>
      <messageLogging
          logEntireMessage="true"
          logMalformedMessages="true"
          logMessagesAtServiceLevel="true"
          logMessagesAtTransportLevel="true"
          maxMessagesToLog="300000"
          maxSizeOfMessageToLog="200000"/>
    </diagnostics>
    <bindings>
      <customBinding>
        <binding name="PgadBindig" sendTimeout="00:10:00">
          <textMessageEncoding messageVersion="Soap11" writeEncoding="utf-8" />
          <!--<pgadTextMessageBindingElement messageVersion="Soap11"/>-->
          <security defaultAlgorithmSuite="TripleDesRsa15" allowSerializedSigningTokenOnReply="true" enableUnsecuredResponse="true" authenticationMode="MutualCertificateDuplex" requireDerivedKeys="false" messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" requireSecurityContextCancellation="false" requireSignatureConfirmation="false">
            <secureConversationBootstrap/>
          </security>
          <httpsTransport authenticationScheme="Anonymous" requireClientCertificate="false"/>
        </binding>
      </customBinding>
    </bindings>
    <client>                         
      <endpoint address="https://anagcontitest.giochi.aams.it/ContiDiGioco/services/ContiDiGiocoPort" binding="customBinding" bindingConfiguration="PgadBindig" contract="Pgad.ContiDiGiocoWS" name="ContiDiGiocoPort">
        <identity>
          <dns value="Anagrafica Conti di Gioco"/>
        </identity>
      </endpoint>
    </client>
    <extensions>
      <bindingElementExtensions>
        <add name="pgadTextMessageBindingElement" type="PgadCommunication.CustomMessageEncoder.PgadTextMessageEncodingElement, PgadCommunication"/>
      </bindingElementExtensions>
    </extensions>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
