<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Ambiente" value="prod" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="prod_FilePath_Estrazione" value="C:\Users\augusto.proietti\Desktop\PGAD_PRODUZIONE\" />
    <add key="prod_CRT" value="C:\workspace\anagraficaContiGioco2\trunk\AnagraficaContiGiocoForniture\AnagraficaContiGiocoForniture\out\PGAD_PRODUZIONE\CRT\" />
    
  </appSettings>
  <connectionStrings>
    <add name="DBSalvaEsiti" connectionString="Data Source=sqlonline.shopintralot.net;Initial Catalog=WHITELABEL;Integrated Security=False;User=Web;Password=Web2008Intralot" providerName="System.Data.SqlClient" />
    <add name="dev_WHITELABEL" connectionString="Data Source=SV-SQLTEST;Initial Catalog=SOGEI_PSQF_WHITELABEL;Integrated Security=False;User=sa;Password=sasqlt14" providerName="System.Data.SqlClient" />
    <add name="prod_WHITELABEL" connectionString="Data Source=sqlonline.shopintralot.net;Initial Catalog=WHITELABEL;Integrated Security=False;User=Web;Password=Web2008Intralot" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>