<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	<PropertyGroup>
		<DeleteExistingFiles>true</DeleteExistingFiles>
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<LastUsedBuildConfiguration>Staging</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<PublishProvider>FileSystem</PublishProvider>
		<PublishUrl>\\ep0-deploy00.winco.local\Software_Deploy_NOPROD\STAGING\Pegasos\GrattaEVinciAccount\$([System.DateTime]::Now.ToString(yyyyMMdd))</PublishUrl>
		<WebPublishMethod>FileSystem</WebPublishMethod>
		<SiteUrlToLaunchAfterPublish />
		<TargetFramework>net6.0</TargetFramework>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
		<ProjectGuid>8dfb7915-18be-424e-aa9a-3b78596f02d8</ProjectGuid>
		<SelfContained>false</SelfContained>
		<EnvironmentName>NewStaging</EnvironmentName>
		<ErrorOnDuplicatePublishOutputFiles>false</ErrorOnDuplicatePublishOutputFiles>
	</PropertyGroup>
</Project>