<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="C:\inetpub\logs\Pacg\Pacg-internal.txt">
	<variable name="applicationName" value="Pacg"/>
	<extensions>
		<add assembly="NLog.Gelf" />
		<add assembly="NLog.Layouts.GelfLayout" />
	</extensions>

  <targets async="true">
    <!--<target xsi:type="File"
            name="all-file"
            fileName="\\ep1-log00\LOGS\Online\AuthBackendApi\AuthBackendApi-${shortdate}-${gdc:hostname}-all.log"
            layout="${longdate}|${callsite}|${mdlc:item=t}|${uppercase:${level}}|${message} ${exception:format=tostring}" />-->

    <target xsi:type="File"
            name="app-file"
            fileName="\\ep1-log00\LOGS\Online\Pacg\Pacg-${shortdate}-${gdc:hostname}-app.log"
            layout="${longdate}|${mdlc:item=callsite}${callsite:when='${mdlc:item=callsite}'==''}|${mdlc:item=t}|${uppercase:${level}}|${message} ${exception:format=tostring};" />

    <target name="gelf" type="GelfHttp" serverUrl="http://graylogprod.goldbet.it:12202/gelf"
            layout="${longdate}|${mdlc:item=callsite}${callsite:when='${mdlc:item=callsite}'==''}|${mdlc:item=t}|${uppercase:${level}}|${applicationName}|${message}${exception:format=tostring}¦"/>

	  <!--<target xsi:type="Null"
            name="null" />-->
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <!--
    <logger name="*" minlevel="Trace" writeTo="all-file" />
    -->
    <!--Skip Microsoft logs and so log only own logs-->
    <!--
    <logger name="Microsoft.*" minlevel="Trace" writeTo="null" final="true" />-->
    <logger name="*" minlevel="Info" writeTo="app-file,gelf" />
  </rules>
</nlog>