<?xml version="1.0" encoding="UTF-8"?>
  <connectionStrings>
    <add name="PgadDBTransaction" connectionString="Data Source=sqlonline;Initial Catalog=Transazioni;Integrated Security=SSPI;Connect Timeout=360" providerName="System.Data.SqlClient" />
    <add name="AnagraficaContiGiocoConnectionString" connectionString="Data Source=sqlonline;Initial Catalog=PACG;Integrated Security=SSPI;Connect Timeout=360" providerName="System.Data.SqlClient" />
    <add name="ToolsDBConnectionString" connectionString="Data Source=sqlonline;Initial Catalog=Tools;Integrated Security=SSPI;Connect Timeout=360" providerName="System.Data.SqlClient" />
  </connectionStrings>
