<?xml version="1.0"?>
 <connectionStrings>
    <add name="PgadDBTransaction" connectionString="Data Source=SV-SQLBSDEV01\Catalogo;Initial Catalog=Transazioni;Integrated Security=False;User=WebDev;Password=WebDevBSColl;Connect Timeout=360" providerName="System.Data.SqlClient" />
    <add name="AnagraficaContiGiocoConnectionString" connectionString="Data Source=SV-SQLBSDEV01\Collaudo;Initial Catalog=AnagraficaContiGioco;Integrated Security=False;User=WebDev;Password=WebDevBSColl;Connect Timeout=360" providerName="System.Data.SqlClient" />
</connectionStrings>

