<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:\inetpub\logs\Pacg\Pacg-internal.txt">
	<variable name="applicationName" value="Pacg"/>
	<extensions>
		<add assembly="NLog.Gelf" />
		<add assembly="NLog.Layouts.GelfLayout" />
	</extensions>

	<targets async="true">
		<target name="gelf" type="GelfHttp" serverUrl="http://172.16.17.105:12201/gelf" facility="Online Backend Betsson"
		        layout="${longdate}|${mdlc:item=callsite}|${mdlc:item=t}|${uppercase:${level}}|${applicationName}|${appsetting:item=Ambiente}|${message} ${exception:format=tostring}¦ ${newline}"/>

	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="gelf" />
	</rules>
</nlog>