<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="C:\inetpub\logs\Pacg\Pacg-internal.txt">
	<variable name="applicationName" value="Pacg"/>
	<extensions>
		<add assembly="NLog.Gelf" />
		<add assembly="NLog.Layouts.GelfLayout" />
	</extensions>

	<targets async="true">

		<target name="gelf" type="GelfHttp" serverUrl="http://172.16.17.109:12201/gelf"
		        layout="${longdate}|${mdlc:item=callsite}${callsite:when='${mdlc:item=callsite}'==''}|${mdlc:item=t}|${uppercase:${level}}|${applicationName}|${message}${exception:format=tostring}¦"/>

	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="gelf" />
	</rules>
</nlog>