<?xml version="1.0"?>
<connectionStrings>
	<add name="PgadDBTransaction" connectionString="Data Source=SQLCOLLAUDO;Initial Catalog=Transazioni;Integrated Security=False;User=WebDev;Password=WebDevBSColl;Connect Timeout=360" providerName="System.Data.SqlClient" />
	<add name="AnagraficaContiGiocoConnectionString" connectionString="Data Source=SQLCOLLAUDO;Initial Catalog=PACG;Integrated Security=False;User=WebDev;Password=WebDevBSColl;Connect Timeout=360" providerName="System.Data.SqlClient" />
	<add name="ToolsDBConnectionString" connectionString="Data Source=SQLCOLLAUDO;Initial Catalog=Tools;Integrated Security=False;User=WebDev;Password=WebDevBSColl;Connect Timeout=360" providerName="System.Data.SqlClient" />
</connectionStrings>
