<?xml version="1.0"?>
<connectionStrings>
  <add name="PgadDBTransaction" connectionString="Data Source=SV-SQLCOLL;Initial Catalog=Transazioni;Integrated Security=False;User=Dev;Password=DevSql00;Connection Timeout=120;Connection Lifetime=120;Max Pool Size=1000;" providerName="System.Data.SqlClient" />
  <add name="AnagraficaContiGiocoConnectionString" connectionString="Data Source=SV-SQLCOLL;Initial Catalog=PACG;Integrated Security=False;User=Dev;Password=DevSql00;Connection Timeout=120;Connection Lifetime=120;Max Pool Size=1000;" providerName="System.Data.SqlClient" />
  <add name="ToolsDBConnectionString" connectionString="Data Source=SV-SQLCOLL;Initial Catalog=Tools;Integrated Security=False;User=Dev;Password=DevSql00;Connection Timeout=120;Connection Lifetime=120;Max Pool Size=1000;" providerName="System.Data.SqlClient" />
</connectionStrings>
