<?xml version="1.0"?>
<appSettings>
  <!-- Classe Proxy No AAMS -->
  <add key="PgadGatewayClass" value="PgadCommunication.PgadGatewayTest" />
  <!-- Classe Proxy AAMS -->
  <!--
    <add key="PgadGatewayClass" value="PgadCommunication.PgadGateway" />
    -->
  <add key="Ambiente" value="Development"/>
</appSettings>
