<?xml version="1.0"?>
<connectionStrings>
  <add name="PgadDBTransaction" connectionString="Data Source=XP2-SQLWEB00;Initial Catalog=Transazioni;Integrated Security=SSPI;Connection Timeout=120;Connection Lifetime=120;Max Pool Size=1000;" providerName="System.Data.SqlClient" />
  <add name="AnagraficaContiGiocoConnectionString" connectionString="Data Source=XP2-SQLWEB00;Initial Catalog=PACG;Integrated Security=SSPI;Connection Timeout=120;Connection Lifetime=120;Max Pool Size=1000;" providerName="System.Data.SqlClient" />
  <add name="ToolsDBConnectionString" connectionString="Data Source=XP2-SQLWEB00;Initial Catalog=Tools;Integrated Security=SSPI;Connection Timeout=120;Connection Lifetime=120;Max Pool Size=1000;" providerName="System.Data.SqlClient" />
</connectionStrings>