<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
          <add name="IntralotSyslogListener" />
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Inetpub\logs\PGAD\messages.svclog"
        type="Intralot.Tracer.XmlDailyWriterTraceListener, TraceListener, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="C:\Inetpub\logs\PGAD\tracelog.svclog"
        type="Intralot.Tracer.XmlDailyWriterTraceListener, TraceListener, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add host="sv-syslogtest" facility="17" type="Intralot.Tracer.SyslogTraceListener, TraceListener, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        name="IntralotSyslogListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="ServiceModelTraceListener" ></add>
        <!--<add name="IntralotSyslogListener"  />-->
        <!--<add name="ServiceModelMessageLoggingListener"></add>-->
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings configSource="WebConfig\AppSettings.config" />
  <connectionStrings configSource="WebConfig\ConnectionStrings.config"/>
  <system.serviceModel>
    <!--<diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" ></messageLogging>
    </diagnostics>-->
    <bindings>
      <customBinding>
        <binding name="PgadBindig" sendTimeout="00:10:00">
          <!-- <textMessageEncoding messageVersion="Soap11" writeEncoding="utf-8" />-->
          <pgadTextMessageBindingElement messageVersion="Soap11" />
          <security defaultAlgorithmSuite="TripleDesRsa15" allowSerializedSigningTokenOnReply="true" enableUnsecuredResponse="true" authenticationMode="MutualCertificateDuplex" requireDerivedKeys="false" messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" requireSecurityContextCancellation="false" requireSignatureConfirmation="false">
            <secureConversationBootstrap />
          </security>
          <httpsTransport authenticationScheme="Anonymous" requireClientCertificate="false" />
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="PgadHttp">
          <security mode="None"></security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="HttpsJsonBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"  >
          <readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="5242880" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="PGADBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="JSONEndpointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="PGADServiceLibrary.PGADService" behaviorConfiguration="PGADBehavior">
        <endpoint name="PgadServiceHttp" address="" binding="basicHttpBinding" bindingConfiguration="PgadHttp" contract="PGADServiceLibrary.IPgad" bindingNamespace="http://www.goldbet.it/pgad"></endpoint>
      </service>
      <service  name="PGADServiceLibrary.PgadServiceJson" behaviorConfiguration="PGADBehavior">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="HttpsJsonBinding" contract="PGADServiceLibrary.IPgadJson" behaviorConfiguration="JSONEndpointBehavior" />
      </service>
    </services>
    <client>
      <!-- 
           SETTARE NEL FILE HOST I SEGUENTI RECORD 
           10.70.78.166		anagcontitest.giochi.aams.it (OLD)
           10.70.78.166		anagcontitest.giochi.adm.gov.it
           DNS In CASO DI CAMBIO IP
           DNS PRIMARIO: 10.70.78.53 
           DNS SECONDARIO: 10.70.78.57
           
           // 16/07/2018 - A. Piscitelli
           // Variazione URL AAMS di TEST
           // Da: https://anagcontitest.giochi.aams.it/ContiDiGioco/services/ContiDiGiocoPort
           // A:  https://anagcontitest.giochi.adm.gov.it/ContiDiGioco/services/ContiDiGiocoPort
      -->
      <endpoint address="https://anagcontitest.giochi.adm.gov.it/ContiDiGioco/services/ContiDiGiocoPort"
          binding="customBinding" bindingConfiguration="PgadBindig"
          contract="Pgad.ContiDiGiocoWS" name="ContiDiGiocoPort" >
        <identity>
          <dns value="Anagrafica Conti di Gioco" />
        </identity>
      </endpoint>
    </client>
    <extensions>
      <bindingElementExtensions>
        <add name="pgadTextMessageBindingElement" type="PgadCommunication.CustomMessageEncoder.PgadTextMessageEncodingElement, PgadCommunication" />
      </bindingElementExtensions>
    </extensions>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SqlClient" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.6.1.1" newVersion="4.6.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.0.0" newVersion="8.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.14.0.0" newVersion="3.14.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.6.0" newVersion="1.2.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
			</dependentAssembly>
			<!--<dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.0.0" newVersion="2020.0.0.0" />
      </dependentAssembly>-->
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.1.0.0" newVersion="6.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2020.0.1.0" newVersion="2020.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
