<?xml version="1.0"?>
<appSettings>
	<!-- Classe Proxy No AAMS -->
	<add key="PgadGatewayClass" value="PgadCommunication.PgadGatewayTest" />
	<add key="Ambiente" value="Performance"/>
	<!-- Classe Proxy AAMS -->
	<!--<add key="PgadGatewayClass" value="PgadCommunication.PgadGateway" />-->
</appSettings>