<?xml version="1.0" encoding="UTF-8"?>
  <connectionStrings>
    <add name="PgadDBTransaction" connectionString="Data Source=sqlonline;Initial Catalog=Transazioni;Integrated Security=False;User=Web;Password=Web2008Intralot;Connect Timeout=360"  providerName="System.Data.SqlClient" />
    <add name="AnagraficaContiGiocoConnectionString" connectionString="Data Source=sqlonline;Initial Catalog=AnagraficaContiGioco;Integrated Security=False;User=Web;Password=Web2008Intralot;Connect Timeout=360" providerName="System.Data.SqlClient" />
  </connectionStrings>
