<?xml version="1.0"?>
  <connectionStrings>
    <add name="PgadDBTransaction" connectionString="Data Source=SV-SQLCOLL;Initial Catalog=Transazioni;Integrated Security=False;User=Dev;Password=DevSql00;Connect Timeout=360" providerName="System.Data.SqlClient" />
    <add name="AnagraficaContiGiocoConnectionString" connectionString="Data Source=PACG;Initial Catalog=AnagraficaContiGioco;Integrated Security=False;User=Dev;Password=DevSql00;Connect Timeout=360" providerName="System.Data.SqlClient" />
  </connectionStrings>
