<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <!--<pages controlRenderingCompatibilityVersion="4.6.2"/>-->
    <httpRuntime targetFramework="4.6.2"/>
  </system.web>
  <system.diagnostics>
    <sharedListeners>
      <add name="QueueTraceListener" type="Intralot.QueueTraceListener.QueueTraceListener, QueueTraceListener" initializeData="logMessages" syslogProcessId="18" traceOutputOptions="ProcessId,Callstack"/>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <clear/>
        <add name="QueueTraceListener" />
      </listeners>
    </trace>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add name="QueueTraceListener" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <appSettings configSource="WebConfig\AppSettings.config" />
  <connectionStrings configSource="WebConfig\ConnectionStrings.config"/>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" ></messageLogging>
    </diagnostics>
    <bindings>
      <customBinding>
        <binding name="PgadBindig" sendTimeout="00:10:00">
          <!-- <textMessageEncoding messageVersion="Soap11" writeEncoding="utf-8" />-->
          <pgadTextMessageBindingElement messageVersion="Soap11" />
          <security defaultAlgorithmSuite="TripleDesRsa15" allowSerializedSigningTokenOnReply="true" enableUnsecuredResponse="true" authenticationMode="MutualCertificateDuplex" requireDerivedKeys="false" messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" requireSecurityContextCancellation="false" requireSignatureConfirmation="false">
            <secureConversationBootstrap />
          </security>
          <httpsTransport authenticationScheme="Anonymous" requireClientCertificate="false" />
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="PgadHttp">
          <security mode="None"></security>
        </binding>
        <binding name="PgadHttps">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="PGADBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="PGADServiceLibrary.PGADService" behaviorConfiguration="PGADBehavior">
        <endpoint name="PgadServiceHttp" address="" binding="basicHttpBinding" bindingConfiguration="PgadHttp" contract="PGADServiceLibrary.IPgad" bindingNamespace="http://www.intralot.it/pgad"></endpoint>
        <endpoint name="PgadServiceHttps" address="" binding="basicHttpBinding"  bindingConfiguration="PgadHttps" contract="PGADServiceLibrary.IPgad" bindingNamespace="https://www.intralot.it/pgad"></endpoint>
      </service>
    </services>
    <client>
      <!-- 
           HOST 
           10.70.78.166		anagcontitest.giochi.aams.it
           DNS In CASO DI CAMBIO IP
           DNS PRIMARIO: 10.70.78.53 
           DNS SECONDARIO: 10.70.78.57
                      
           // 16/07/2018 - A. Piscitelli
           // Variazione URL AAMS di TEST
           // Da: https://anagcontitest.giochi.aams.it/ContiDiGioco/services/ContiDiGiocoPort
           // A:  https://anagcontitest.giochi.adm.gov.it/ContiDiGioco/services/ContiDiGiocoPort
      -->
      <endpoint address="https://anagcontitest.giochi.adm.gov.it/ContiDiGioco/services/ContiDiGiocoPort"
          binding="customBinding" bindingConfiguration="PgadBindig"
          contract="Pgad.ContiDiGiocoWS" name="ContiDiGiocoPort" >
        <identity>
          <dns value="Anagrafica Conti di Gioco" />
        </identity>
      </endpoint>
    </client>
    <extensions>
      <bindingElementExtensions>
        <add name="pgadTextMessageBindingElement" type="PgadCommunication.CustomMessageEncoder.PgadTextMessageEncodingElement, PgadCommunication" />
      </bindingElementExtensions>
    </extensions>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
