<?xml version="1.0"?>
  <connectionStrings>
    <add name="PgadDBTransaction" connectionString="Data Source=XXX;Initial Catalog=Transazioni;Integrated Security=False;User=XXX;Password=XXX;Connect Timeout=360" providerName="System.Data.SqlClient" />
    <add name="AnagraficaContiGiocoConnectionString" connectionString="Data Source=XXX;Initial Catalog=AnagraficaContiGioco;Integrated Security=False;User=XXX;Password=XXX;Connect Timeout=360" providerName="System.Data.SqlClient" />
  </connectionStrings>
